@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8); }
  90% {
    opacity: 0%; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes spaceFloat {
  0% {
    transform: translateY(0); }
  5% {
    transform: translateY(-1rem); }
  10% {
    transform: translateY(1rem); }
  15% {
    transform: translateY(-1rem); }
  20% {
    transform: translateY(1rem); }
  25% {
    transform: translateY(-1rem); }
  30% {
    transform: translateY(1rem); }
  35% {
    transform: translateY(-1rem); }
  40% {
    transform: translateY(1rem); }
  45% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(1rem); }
  55% {
    transform: translateY(-1rem); }
  60% {
    transform: translateY(1rem); }
  65% {
    transform: translateY(-1rem); }
  70% {
    transform: translateY(1rem); }
  75% {
    transform: translateY(-1rem); }
  80% {
    transform: translateY(1rem); }
  85% {
    transform: translateY(-1rem); }
  90% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(-0.4rem); }
  30% {
    transform: translateY(0); }
  45% {
    transform: translateY(-0.4rem); }
  60% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(3); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
  color: #aaa;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .heading-primary .heading--main {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 4s ease-in-out forwards; }
  .heading-primary .heading--sub {
    display: block;
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-top: 30px;
    opacity: 0;
    animation: moveInRight 4s ease-in-out 2s forwards; }
  .heading-primary .heading--secondSub {
    display: block;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 5rem;
    margin-top: 30px;
    opacity: 0;
    animation: fadeIn 10s ease 5s forwards; }
  .heading-primary .animateAfter {
    animation: spaceFloat 35s ease-in-out 10s infinite; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #3c1ccc, #1e0958);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s; }
  .heading-secondary:hover {
    transform: scale(1.2);
    text-shadow: 0rem 1rem 2rem rgba(30, 9, 88, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 1rem 30px;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.4s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  border: 1px solid white;
  color: white;
  margin-right: 30px;
  font-size: 1.6rem; }
  .btn-white:hover {
    box-shadow: 0 1rem 30px rgba(148, 155, 245, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-shadow: 0px 0px 5px #3c1ccc;
    font-weight: bold; }
  .btn-white:active {
    box-shadow: 0 5px 1rem rgba(148, 155, 245, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold; }
  .btn-white::after {
    border: 1px solid white;
    color: white; }

.btn-blue {
  border: 1px solid #3c1ccc;
  color: #3c1ccc;
  margin-right: 30px;
  font-size: 1.6rem; }
  .btn-blue:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #3c1ccc;
    color: white;
    font-weight: bold; }
  .btn-blue:active {
    box-shadow: 0 5px 3rem rgba(0, 0, 0, 0.8);
    background-color: rgba(60, 28, 204, 0.8);
    color: white;
    font-weight: bold; }
  .btn-blue::after {
    border: 1px solid #3c1ccc;
    color: white; }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(2);
  opacity: 0; }

.btn-animated {
  animation: fadeDown 2s ease-out 11s;
  animation-fill-mode: backwards; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #3c1ccc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3c1ccc;
  padding: 3px 5px;
  transition: 0.2s; }

.btn-txt:hover {
  background-color: #3c1ccc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.btn-txt:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(2px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    outline-offset: 1rem; }
    .composition_photo_p1 {
      left: 0;
      top: 3rem; }
    .composition_photo_p2 {
      right: 0;
      top: 8rem; }
    .composition_photo_p3 {
      top: 19rem;
      left: 20%; }
    .composition_photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 3;
      outline: 1rem solid #3c1ccc; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: .5s; }
  .feature-box_icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background: linear-gradient(to right, #3c1ccc, #1e0958);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-1.5rem);
    box-shadow: 0 1.5 5rem rgba(255, 255, 255, 0.8); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card_side {
    height: 50rem;
    transition: 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card_side-front {
      background-color: #fff; }
    .card_side-back {
      transform: rotateY(-180deg); }
      .card_side-back-1 {
        background: linear-gradient(to right bottom, #3c1ccc, #1e0958); }
      .card_side-back-2 {
        background: linear-gradient(to right bottom, #da1a1a, #610b0b); }
      .card_side-back-3 {
        background: linear-gradient(to right bottom, #9333ac, #41144d); }
  .card:hover .card_side-front {
    transform: rotateY(180deg); }
  .card:hover .card_side-back {
    transform: rotateY(0deg); }
  .card_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card_picture-1 {
      background-image: linear-gradient(to right bottom, #3c1ccc, #1e0958), url("../img/spx-moon.jpg"); }
    .card_picture-2 {
      background-image: linear-gradient(to right bottom, #da1a1a, #610b0b), url("../img/spx-mars.jpg"); }
    .card_picture-3 {
      background-image: linear-gradient(to right bottom, #9333ac, #41144d), url("../img/spx-blackhole.jpg"); }
  .card_heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 67%; }
  .card_heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card_heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(60, 28, 204, 0.85), rgba(30, 9, 88, 0.85)); }
    .card_heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(218, 26, 26, 0.85), rgba(97, 11, 11, 0.85)); }
    .card_heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(147, 51, 172, 0.85), rgba(65, 20, 77, 0.85)); }
  .card_details {
    padding: 3rem; }
    .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #aaa; }
  .card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
    .card_cta .btn-white {
      margin: 0; }
  .card_price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card_price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card_price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story_img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: .5s; }
  .story_text {
    transform: skewX(12deg); }
  .story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: .5s; }
  .story:hover .story_caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story_img {
    transform: translateX(-4rem) scale(1.1);
    filter: blur(3px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  color: #000; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + (6rem * 2)); }

.header {
  height: 95vh;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
  position: relative; }
  .header__background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(60, 28, 204, 0.6), rgba(30, 9, 88, 0.8)), url(../img/space1.jpg);
    background-size: cover;
    background-position: top;
    /* transition: all 30s; */ }
  .header .header__background {
    animation: grow 120s ease-in-out infinite;
    animation-fill-mode: forwards; }
  .header__logoBox {
    position: absolute;
    top: 4rem;
    left: 4rem;
    border: 1px solid white;
    border-radius: 50%; }
  .header__logo {
    height: 5.5rem;
    background: none;
    padding: 1rem; }
  .header__logoBox:hover {
    opacity: 1;
    animation: bounce 1.5s linear infinite; }
  .header__text {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: whitesmoke;
  padding: 20rem 0;
  margin-top: -15rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(60, 28, 204, 0.6), rgba(30, 9, 88, 0.8)), url("../img/horizon.jpg");
  background-size: cover;
  transform: skewY(-5deg) translateY(-9rem); }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  background-color: whitesmoke;
  padding: 25rem 0 15rem 0;
  margin-top: -20rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

@media all and (max-width: 1050px) {
  body {
    padding: 0; }
  .header__logoBox {
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 4rem;
    background: none;
    padding: 4px 7px; }
  .header_text {
    top: 40%; }
  .heading--primary {
    margin-bottom: 100px; }
    .heading--primary .heading--main {
      font-size: 5rem;
      letter-spacing: 35px; }
    .heading--primary .heading--sub {
      font-size: 3rem;
      letter-spacing: 17.4px;
      margin-top: 1rem; }
    .heading--primary .heading--secondSub {
      font-size: 4rem;
      letter-spacing: 35px;
      margin-top: 1rem; }
  .btn:link {
    font-size: 2.5rem;
    padding: 8px 25px;
    border-radius: 1rem; } }

@media all and (max-width: 850px) {
  .header__text {
    top: 50%; }
  .heading-primary {
    margin-bottom: 30px; }
    .heading-primary .heading--main {
      font-size: 30px;
      letter-spacing: 35px; }
    .heading-primary .heading--sub {
      font-size: 13px;
      letter-spacing: 17.4px;
      margin-top: 1rem; }
    .heading-primary .heading--secondSub {
      font-size: 20px;
      letter-spacing: 35px;
      margin-top: 1rem; }
  .btn:link {
    font-size: 1.3rem;
    padding: 8px 25px;
    border-radius: 1rem; } }

@media all and (max-width: 500px) {
  .header__logo {
    height: 50px;
    padding: 1rem 15px; }
  .heading-primary {
    margin-bottom: 100px; }
    .heading-primary .heading--main {
      font-size: 40px;
      letter-spacing: 14px; }
    .heading-primary .heading--sub {
      font-size: 15px;
      letter-spacing: 17.4px; }
    .heading-primary .heading--secondSub {
      font-size: 25px;
      letter-spacing: 35px; }
  .header__text {
    top: 50%;
    left: 53%; }
  .btn-white {
    margin-right: 20px; }
  .btn:link {
    font-size: 2rem;
    padding: .8rem 2.5rem;
    border-radius: 1rem; } }
