// COLORS

// blues
$color-primary: rgb(60, 28, 204);
$color-secondary: rgb(39, 19, 129);
$color-dark: rgb(16, 9, 35);

// reds
$color-red-light: rgb(218, 26, 26);
$color-red-med: rgb(163, 19, 19);
$color-red-dark: rgb(97, 11, 11);

// neutrals
$color-black: #000;
$color-white: #fff;
$color-grey: #aaa;