// COLORS

// blues
$color-primary: rgb(60, 28, 204);
$color-secondary: rgb(39, 19, 129);
$color-primary-dark: rgb(30, 9, 88);

// reds
$color-red-light: rgb(218, 26, 26);
$color-red-med: rgb(163, 19, 19);
$color-red-dark: rgb(97, 11, 11);

// purples
$color-purple-light: rgb(147, 51, 172);
$color-purple-med: rgb(103, 38, 116);
$color-purple-dark: rgb(65, 20, 77);


// neutrals
$color-black: #000;
$color-white: #fff;
$color-grey: #aaa;
$color-grey-light: whitesmoke;

// GRID 

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
