@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/animations';
@import './base/base';
@import './base/typography';
@import './base/utilities';

@import './components/button';
@import './components/bg-video';
@import './components/composition';
@import './components/feature-box';
@import './components/form';
@import './components/card';
@import './components/story';
@import './components/popup';

@import './layout/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/navigation';

@import './pages/landing';

// iPad and med sized screens

@media all and (max-width: 1050px) {

    body {
        padding: 0;
    }

    .header {

        &__logoBox {
            top: 40px;
            left: 40px;
        }
    
        &__logo {
            height: 4rem;
            background: none;
            padding: 4px 7px;
        }
    
        &_text {
            top: 40%;
        }
    }

    .heading--primary {
        margin-bottom: 100px;

        .heading--main {
            font-size: 5rem;
            letter-spacing: 35px;
        }   
        
        .heading--sub {
            font-size: 3rem;
            letter-spacing: 17.4px;
            margin-top: 1rem;
        }
        
        .heading--secondSub{
            font-size: 4rem;
            letter-spacing: 35px;
            margin-top: 1rem;
        }
    }

    .btn:link {
        font-size: 2.5rem;
        padding: 8px 25px;
        border-radius: 1rem;
    }
}

@media all and (max-width: 850px) {

    .header__text {
        top: 50%;
    }

    .heading-primary {
        margin-bottom: 30px;

        .heading--main {
            font-size: 30px;
            letter-spacing: 35px;
        }   
        
        .heading--sub{
            font-size: 13px;
            letter-spacing: 17.4px;
            margin-top: 1rem;
        }
        
        .heading--secondSub {
            font-size: 20px;
            letter-spacing: 35px;
            margin-top: 1rem;
        }
    }

    .btn:link {
        font-size: 1.3rem;
        padding: 8px 25px;
        border-radius: 1rem;
    }
}

@media all and (max-width: 500px) {

    .header__logo {
        height: 50px;
        padding: 1rem 15px;
    }

    .heading-primary {
        margin-bottom: 100px;

        .heading--main {
            font-size: 40px;
            letter-spacing: 14px;
        }
    
        .heading--sub {
            font-size: 15px;
            letter-spacing: 17.4px;
        }
    
        .heading--secondSub{
            font-size: 25px;
            letter-spacing: 35px;
        }
    }
    
    .header__text {
        top: 50%;
        left: 53%;
    }

    .btn-white {
        margin-right: 20px;
    }

    .btn:link {
        font-size: 2rem;
        padding: .8rem 2.5rem;
        border-radius: 1rem;
    }
}