// Header

.header {
    height: 95vh;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
    position: relative;

    &__background {
        width: 100%;
        height: 100%;
        background-image: linear-gradient( 
            to bottom right, 
            rgba($color-primary, 0.6), 
            rgba($color-primary-dark, 0.8) ), 
            url(../img/space1.jpg);
        background-size: cover;
        background-position: top;
        /* transition: all 30s; */
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    & .header__background {
        animation: grow 120s ease-in-out infinite;
        animation-fill-mode: forwards;
    }
    
    &__logoBox {
        position: absolute;
        top: 4rem;
        left: 4rem;
        border: 1px solid white;
        border-radius: 50%;
    }
    
    &__logo {
        height: 5.5rem;
        background: none;
        padding: 1rem;
    }
    
    &__logoBox:hover {
        opacity: 1;
        animation: bounce 1.5s linear infinite;
    }
    
    &__text {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}