.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    &_content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        overflow: hidden;
        display: table;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: .5s .2s;
    }

    &_left {
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-land) {
            display: unset;
            width: 100%;

            .popup_img {
                width: 50%;
                display: inline-block;
                float: left;
                height: 30rem;
            }
        }

        @include respond(phone) {
            .popup_img {
                height: 20rem;
            }
        }
    }

    &_right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2.5rem 5rem;

        @include respond(tab-land) {
            display: unset;
            width: 100%;
            padding: 2rem 5rem;

            .heading-secondary,
            .heading-tertiary {
                display: block;
                text-align: center;
            }

            .popup_text {
                padding: 0 5rem;
            }

            .btn-blue {
                display: block;
                width: 25%;
                margin: 2rem auto;
                text-align: center;
            }
        }

        @include respond(phone) {
            .btn-blue {
                width: 50%;
            }
        }
    }

    &_img {
        display: block;
        width: 100%;
    }
    
    &_text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        color: $color-grey-dark;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-dark;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    //OPEN STATE

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &_content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &_close {
        &:link,
        &:visited {
            color: $color-black-light;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;

            @include respond(tab-land) {
                color: $color-white;
            }
        }

        &:hover {
            color: $color-primary;
        }
    }
}