.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-med {
    margin-bottom: 5rem !important;
}

.u-margin-bottom-sm {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-med {
    margin-top: 5rem !important;
}

.u-margin-top-sm {
    margin-top: 1.5rem !important;
}