.section-about {
    background-color: $color-grey-light;
    padding: 20rem 0;
    margin-top: -15rem;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient( 
            to bottom right, 
            rgba($color-primary, 0.6), 
            rgba($color-primary-dark, 0.8) ), 
            url("../img/horizon.jpg");
    background-size: cover;

    transform: skewY(-5deg) translateY(-9rem);

    & > * {
        transform: skewY(5deg);
    }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -20rem;
}